<!DOCTYPE html>
<html>
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
		<title>Ships</title>
	<head>
	<body>
		<p>Hello!! {{g.user[1]}}  </p>
		<p>Give X and Y coordination, an X number greater than 7 restarts the battle </p>
		<form method="POST">
			<p>

			<input type="text" name="x" size="5" placeholder="X" />
			<input type="text" name="y" size="5" placeholder="Y" />
			</p>
			<p>
			<button type="submit">Send to Sense-HAT</button>
			</p>
		</form>


		<p><a href="/ships">Refresh</a></p>
		<p><a href="/">Main page</a></p>
	</body>
</html>
